@page "/"

@inject INoteService _noteService;
@inject NavigationManager _navigationManager;

<div class="card-columns">
    @foreach (var note in _notes)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@note.Title</h5>
                <p class="card-text">@note.Content</p>
                @if (!string.IsNullOrWhiteSpace(note.Code))
                {
                    <pre><code>@note.Code</code></pre>
                }
                <p class="card-text">
                    <small class="text-muted">@note.CreateTime</small>
                    <a href="#" @onclick="async e => await this.DeleteNote(note.Id)" class="oi oi-trash"></a>
                </p>
            </div>
        </div>
    }
</div>

@code{
    private IEnumerable<Note> _notes;

    protected override void OnInitialized()
    {
        _notes = _noteService.GetNotes().ToList().OrderByDescending(x => x.Id);
    }

    public async Task DeleteNote(int id)
    {
        await _noteService.DeleteAsync(id);

        _navigationManager.NavigateTo("/");
    }
}