@page "/"

@inject INoteService _noteService;
@inject ITextToHtmlService _toHtmlService;

<div class="card-columns">
    @foreach (var note in _notes)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@note.Title</h5>
                <p class="card-text">@note.HtmlText</p>
                @if (!string.IsNullOrWhiteSpace(note.Code))
                {
                    <pre><code>@note.Code</code></pre>
                }
                <p class="card-text">
                    <small class="text-muted">@note.CreateTime</small>
                    <a href="#" @onclick="e => this.DeleteNote(note.Id)" class="oi oi-trash" style="float:right"></a>
                </p>
            </div>
        </div>
    }
</div>

@code{
    private IEnumerable<Note> _notes;

    protected async override void OnInitialized()
    {
        var notes = _noteService.GetNotes().ToList();

        foreach (var note in notes)
        {
            if (string.IsNullOrWhiteSpace(note.HtmlText))
            {
                note.HtmlText = _toHtmlService.Transform(note.Content);

                await _noteService.UpdateAsync(note);
            }
        }

        _notes = notes.OrderByDescending(x => x.Id);
    }

    public async void DeleteNote(int id)
    {
        await _noteService.DeleteAsync(id);

        this.OnInitialized();
    }
}