@page "/logs"

<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="margin:0">0.2.0</h5>
        <small class="text-danger">未完成</small>
        <p></p>
        计划功能：支持 Markdown 文档编辑，增加标签，分页，搜索。
    </div>
</div>

<p />

<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="margin:0">0.1.1</h5>
        <small class="text-muted">2019.10.06</small>
        <p></p>
        完成基本功能；包括添加、查看、历史；其中添加代码对接 Try.NET。
    </div>
</div>