@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <img src="/china.jfif" width="80" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
